@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@700&display=swap');
*{
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
    font-family: 'Noto Sans Arabic', 'Poppins';
}

body {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

html, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body, div {
    float: right;
    
}

.sidebar {
    background: #19222a;
    width: 14%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li:not(:first-child){
    /* padding-bottom: 30px;
    padding-top: 26px;
    margin-bottom: 5px; */
    line-height: 87px;
    margin-bottom: 1.9px;
}

ul li:not(:first-child):hover  {
    background-color: #ffffff0d;
}

.active {
    background-color: #ffffff0d;
}

li a {
    text-decoration: none;
    color: #ffffffe6;
    font-weight: bold;
    /* padding: 11px 0px; */
    width: 100%;
    /* height: 100%; */
    display: inline-block;
    line-height: inherit;
}
.content {
    margin-top: -3px;
    margin-right: 40px;
    width: 80%;
    height: 100%;
    align-items: end;
    display: flex;
    flex-direction: column;
}

.content-head {
    color: #202e1d;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    width: 55.8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.content-head a {
    border-radius: 5px;
    text-decoration: none;
    background: #40C235;
    padding: 6px 23px;
    color: #ffffffe6;
}

.content-body, table, th, td {
    width: 75%;
    float: right;
}

#search {
    margin-left: 30px;
}

.search {
    background: url("../search-interface-symbol 2.png") no-repeat scroll 7px 4px;
    padding-left:30px;
    background-size: 16px;
    width: 200px;
    height: 21px;
    margin-bottom: 22px;
    border-radius: 5px;
    text-align: right;
    border: none;
    box-shadow: 0px 0px 0px 2px #19222a;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  transform: scale(1.5);
  padding: 10px;
  margin-left: 60px;
}

/* input[name="deactive"] {
    margin-left: 25px;
} */

label[for="active"] {
    margin-right: 122px;
}

#searbtn {
    display: none;
}

thead tr {
    border-radius: 5px 5px 0 0;
    background-color: #19222a;
    color: #ffffffe6;
    display: flex;
    flex-direction: row-reverse;
}

th {
    /* padding-left: 35px; */
    line-height: 3.9;
    /* border: 2px grey solid; */
}

li:first-child {
    color: #ffffffe6;
    background-color: #09f;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 1px;
}

tbody tr {
    text-align: center;
    margin-top: -2.5px;
    background-color: #09f;
    font-weight: 600;
    padding-top: 15px;
    color: #ffffffe6;
    display: flex;
    flex-direction: row-reverse;
    overflow-wrap: anywhere;

}

tbody tr td {
    border-bottom: 1px #19222a solid;
    width: 100%;
}

tbody tr td a img {
    width: 28px;
    margin-top: 2px;
    filter: invert(1);
}

.sidebar li a img {
    width: 14px;
    background: white;
    margin-left: 10px;
}

.req {
    box-shadow: 0px 0px 0px 2px #ff0119b8;
}